/*general*/
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 auto;

}
body{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background-color: rgba(155, 213, 250, 0.26);
}
/*header*/
header{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color:rgba(11, 12, 12, 0.855);
    align-items: center;
    z-index: 2;
}
.sticky{
    position: fixed;
    top: 0;
}

.header-a , li{
    list-style-type: none;
    text-decoration: none;
    
    color: rgb(155, 214, 250);
    font-size: larger;
    padding: 9px;
    margin: 20px;
    
}
.header-a:hover{
    border-left: 2px solid rgba(238, 237, 237, 0.8);
    border-bottom: 2px solid  rgba(250, 248, 248, 0.8);
    border-bottom-left-radius:30px;
    border-right: 2px dashed   rgba(238, 237, 237, 0.8);

}
header >a:active{
    color:rgb(180, 180, 223) ;
}
header>a:visited{
    color: rgba(238, 237, 237, 0.8);
}
#contact{
    margin-left: auto;
}
#about{
    border-bottom:0.5px solid rgba(250, 248, 248, 0.8)
}
/*media queries */

/* container */
main{
    display: flex;
    justify-content: center;
    background-color: rgba(23, 67,155, 0.32);
}
.container{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    width: 90%;
    

}
/* intro */
.intro{
    display: flex;
    margin:1em 0 1em 0 ;
    margin-top: 4em;
    padding: 0em;
    width: 100%;
    /* height:50vh; */
    flex-wrap: wrap;
    z-index: 1;
    align-items: center;
        /* From https://css.glass */
    background: rgba(53, 67, 155, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(53, 67, 155, 0.32);

}
/* intro-text */
.intro-text{
    flex-basis: 40%;
    display: flex;
    /* padding-top: 1; */
    
    flex-direction: column;
    align-items: center;
    /* height: 60vh; */
    
    

    
}
.intro-text> img{
    width: 80%;
    height: 350px;
    margin-bottom: 12px;
    margin-top: 20px;
    border-radius: 20% 50% ;
    
}
.words{
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 28px;
    align-self: center;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 25rem;
    opacity: 0.8;
}
.welcome{
    font-size: x-large;
    flex-direction: column;
    justify-self: flex-start;
    display:flex;
    align-items:flex-end;
    flex-basis: 40%;
}
.welcome:first-child{
    padding-right: 3px;
}
/* link */
.link{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 5rem;
}
button{
    margin: 10px 20px -40px 15px;
    width:90px;
    padding: 7px;
    border-style: none;
    border-radius: 20% / 20px 40%;
    transition:background-color 500ms ease;
    transform-origin: left;
}
button:hover{
    background-color: rgba(74, 198, 115, 0.245);
    font-weight: bold;
    color: navy;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;

}
a{
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    color: rgba(0, 0, 238,1.0);
}
a:active{
    color: rgba(0, 0, 238, 0.468);
}

/* footer */
footer{
    width: 100%;
    background-color: rgba(53, 67, 155, 0.32);
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    height: 4.4rem;
    margin: 0px auto;
    vertical-align: middle;
    text-align: center;
    
}
/* media query */
@media only screen and (min-width:900px) {
    .intro-text>.img{
        align-self: flex-start;
        margin-left:-400px;
        padding-bottom: 5px;
    }
    
}
@media only screen and (max-width:900px){
    .intro{
        /* height: 90vh; */
        align-content: flex-start;
    }
    .welcome{
        padding-bottom: 7px;
        flex-basis: 100%;
    }
    .words{
        font-size: 18px;
        line-height:23px;
        margin-bottom: 15px;
        word-spacing: 2px;
    }
    .intro-text> img{
        width: 250px;
        height: 60%;
    }
    .intro-text>.img{
        align-self: flex-start;
        
        padding-bottom: 5px;
    }
    
}
@media only  screen and (max-width:600px){
    header{
        font-size: 10px;
        padding: 0;
        justify-content: center;
        
    }
    .header-a {
        font-size: 10px;
        padding: 3px;
        
    }
    #contact{
        margin-right:auto;
    }
    /* body{
        width: 30rem;
        
    } */
    
    .intro{
        /* height: 85vh; */
        padding: 5px;
        align-content: flex-start;
        margin-top: 0em;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
        justify-content: center;
    }
    .intro-text{
        padding-top: 10px;
        margin: 0px;
        justify-content: center;
    }
    .intro-text >img{
        width: 80%;
        height:60%;
    }
    a{
        margin-top: 5px;
        font-size: larger;

    }
    .container{
        width: 90%;
        margin-bottom: 20px;
    }
    .words{
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
        width:105%;
        margin: 0px;
    }

}