/*general*/
*{
    margin: 0 auto;

}
body{
    height: 100vh;
    width: 100%;
    background:linear-gradient( 300deg, yellow 20%, orange 50% ,red 70%) ;
}
/*header*/
header{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color:rgb(255, 255, 255);
    background:linear-gradient(272deg, black 10%, white 35% , black 80% ) ;
    align-items: center;
        
}
.sticky{
    position: fixed;
    top: 0;
}
.header-a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(237, 237, 239);
    font-size: larger;
    font-weight: bold;
    padding: 9px;
    margin: 20px;
}
.header-a:hover{
    border-top: 2px solid rgba(233,235,233,0.8);
    border-left: 2px solid rgba(233, 235, 233, 0.8);
    border-right: 2px solid rgba(233,235,233,0.8);
    border-top-left-radius:30px;
    border-top-right-radius: 10px;
    
}
header > a:active{
    color:rgba(233, 235, 233, 0.8);
}

#contact{
    margin-left: auto;
}
main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    
    background:linear-gradient( 300deg, red 20%, orange 50% ,yellow 70%) ;
    box-shadow: 3px 3px 3px rgb(240, 229, 22),
                3px 3px 3px rgb(240, 229, 22),
                3px 3px 3px rgb(240, 229, 22),
                3px 3px 3px rgb(240, 229, 22)
    ;
}
.main{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    margin-top: 30px;
    padding: 7px 20px;
    border: 1px solid white;
    outline: 1px solid black;
    border-radius: 20px 30px 20px 30px;
}
button a{
    text-decoration: none;
    font-weight: 800;
    font-size: medium;
    color: rgb(83, 52, 205);
}
a:active{
    color: rgba(83,52,205);
}
button a:hover{
    color: black;
}
button:hover{
    border: 2px solid;
    border-color: rgba(225, 212, 19, 0.947);
    background: linear-gradient( 300deg, red 20%, orange 50% ,yellow 80%);
    color: black;

}
h1 , h2{
    opacity: 0;
    padding: 12px 0;
    animation: reveal 12s forwards var(--delay) infinite ;
    animation-play-state: running;
    font-weight: 800;
    animation-timing-function: ease;
    
}
h3{
    opacity: 0;
    padding: 12px 0;
    animation: angle 4s forwards var(--delay)  ;
    animation-play-state: running;
    font-weight: 800;
    animation-timing-function: ease;

}
button{
    opacity: 0;

    animation: bounce 10s forwards var(--delay)  ;
    animation-play-state: running;
    
    font-weight: 800;
    animation-timing-function: ease;

}
@keyframes bounce {
    From{
        scale: 1.5;
    
        
    }
    to{
        scale: none;
        opacity: 1;
    }
    
}
@keyframes angle {
    From{
        rotate: 360deg;
    
        
    }
    to{
        rotate: none;
        opacity: 1;
    }
    
}
@keyframes reveal {
    From{
        translate:0px -100px;
    
        
    }
    to{
        translate: none;
        opacity: 1;
    }
    
}
/* media  query*/
@media only  screen and (max-width:600px){
    header{
        font-size: 10px;
        padding: 0;
        justify-content: center;
        padding-left: 0px;
        
    }
    .header-a{
        font-size: 10px;
        padding: 3px;
        padding-left: 0px;
        
    }
    #contact{
        margin-right:auto;
    }
    
   header{
    background:linear-gradient(180deg, black 10%,  black 80% ) ;
   
   }
   @keyframes reveal {
    From{
        translate:0px -50px;
    
        
    }
    to{
        translate: none;
        opacity: 1;
    }
    
    
}
}
/* main */